extends layout
block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp;#{pageHeader.strapline}

    .row
        .col-xs-12.col-sm-8
            .row.list-group
                each location as locations    
                    .col-xs-12.list-group-item
                        h4
                            a(href="/location")= location.name
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                            span.badge.pull-right.badge-default=location.distance
                        p.address=location.address
                        p
                            each facility in location.facilities
                                span.label.label-warning= facility
                                &nbsp;
                        br
                .col-xs-12.list-group-item
                    h4    
                        a(href="/location") Semi-Finals
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star-empty
                        span.badge.pull-right.badge-default 4 teams
                    p.address Russian Kazan, RG6 1PS
                    p
                        span.label.label-warning Hot drinks
                        | &nbsp;
                        span.label.label-warning Food
                        | &nbsp;
                        span.label.label-warning Premium wifi
                        | &nbsp;
                .col-xs-12.list-group-item
                    h4
                        a(href="/location") Final 
                        small &nbsp;
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                            span.glyphicon.glyphicon-star
                        span.badge.pull-right.badge-default Winner
                    p.address Russian SAMARA, Reading, RG6 1PS
                    p
                        span.label.label-warning Hot drinks
                        | &nbsp;
                        span.label.label-warning Food
                        | &nbsp;
                        span.label.label-warning Premium wifi
                        | &nbsp;
        .col-xs-12.col-sm-4
            p.lead Are you planning to visit Russia for the FIFA Confederations Cup 2017 or the 2018 FIFA World Cup™? Welcome2018.com is the tourist portal of the Russian government and provides fans travelling to Russia with useful information about the host nation of the next FIFA World Cup.